$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
	Verdana, sans-serif;
$font-sizes: (
	'1': 0.8rem,
	'2': 1rem,
	'3': 1.5rem,
	'4': 2.35rem,
);

body {
	font: {
		family: $font-family;
	}
}
